* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
    color: khaki;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 5vw;
}

header nav {
    padding: 20px 0;
    width: 100%;
    background-color: #ededed;
    padding: 20px;
    align-self: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav li {
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: indigo;
    font-size: 3vw;
    transition: color 0.7s ease;
}

header nav li:first-child a {
    color: dodgerblue;
}

header nav a:hover {
    color: lightcoral;
}